/* Estilo general */
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
  color: #222;
}

/* Cabecera con imagen de fondo */
header {
  background-image: url('img/header-bg.jpg'); /* Cambia por la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 40px 20px 40px 20px;
  position:relative;
}

/* Fondo semitransparente para mejorar la legibilidad del título */
header h1 {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin: 0;
}

/* Navegación */
nav {
  background: #100f0f;
  text-align: center;
  padding: 50px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-weight: arial;
  font-size: 1.1em;
  transition: color 0.0s;
}

nav a:hover {
  color: #ffcc00;
}

/* Main */
main {
  max-width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

main h2 {
  font-size: 2em;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

main p {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 20px;
}

main img {
  max-width: 400px;
  border-radius: 10px;
  margin: 15px 20px 15px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

video {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 50%;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

/* Footer */
footer {
  text-align: center;
  padding: 18px 0;
  background: #222;
  color: #fff;
  font-size: 1em;
  margin-top: 40px;
  letter-spacing: 1px;
}
